{ :key_a1 true :key_a2 false :key_a3 [ 1 2 3 "test string" nil { 1 2 }] :key_a4 { :key_a31 23 :key_a32 24.4 } "string_key" :kval :embedded [true {:c2g_md5 "2bbee1cd3045710db6fec432b00d1e0c"}], 2 {:a :b }}
